{% extends 'base_app.html' %}

{% block title %}{{ section_title }}{% endblock %}

{% block content %}
<h1>{{ section_title }}</h1>
{% if g.user %}
<p class="welcome-text">Prihlásený používateľ: {{ g.user['meno'] }} {{ g.user['priezvisko'] }}</p>
{% endif %}

{% if show_search %}
<div class="search-wrap">
    <input class="search-input" type="text" placeholder="{{ search_placeholder }}">
</div>
{% endif %}

<section class="section-card">
    <p>{{ section_content }}</p>
</section>
{% endblock %}
