<!doctype html>
<html lang="sk">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Študentská sieť</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="page page-home">
    <h1>Študentská sieť</h1>
    <div class="actions">
        <a class="button-link" href="/prihlasenie">Prihlásiť sa</a>
        <a class="button-link" href="/registracia">Registrovať sa</a>
    </div>
</body>
</html>
